@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Helvetica_Neue_Cyr Bold";
    src: url("fonts/helveticaneuecyr-bold.eot");
    src: url("fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"),
         url("fonts/helveticaneuecyr-bold.woff2") format("woff2"),
         url("fonts/helveticaneuecyr-bold.woff") format("woff"),
         url("fonts/helveticaneuecyr-bold.ttf") format("truetype"),
         url("fonts/helveticaneuecyr-bold.svg#helveticaneuecyrbold") format("svg");
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: "Helvetica_Neue_Cyr Light";
    src: url("fonts/helveticaneuecyr-light.eot");
    src: url("fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"),
         url("fonts/helveticaneuecyr-light.woff2") format("woff2"),
         url("fonts/helveticaneuecyr-light.woff") format("woff"),
         url("fonts/helveticaneuecyr-light.ttf") format("truetype"),
         url("fonts/helveticaneuecyr-light.svg#helveticaneuecyrlight") format("svg");
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: "Helvetica_Neue_Cyr Roman";
  src: url("fonts/HelveticaNeueCyr-Roman.eot");
  src: url("fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
       url("fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
       url("fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"),
       url("fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg"),
       url("fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: "Squares Bold";
    src: url("fonts/squares_bold_free.eot");
    src: url("fonts/squares_bold_free.eot?#iefix") format("embedded-opentype"),
         url("fonts/squares_bold_free.woff2") format("woff2"),
         url("fonts/squares_bold_free.woff") format("woff"),
         url("fonts/squares_bold_free.ttf") format("truetype"),
         url("fonts/squares_bold_free.svg#squares_boldregular") format("svg");
    font-weight: normal;
    font-style: normal;

}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    /*min-height: 100vh;*/
    width: 1200px;
    color: #333333;
    background: rgba(255, 255, 255, 1);
    position: relative;
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    background: rgba(255, 255, 255, 1);
}


.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
button,
a,
img {
    outline: none;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 15px 0;
}

h1 {
    font-family: "Squares Bold", Verdana, Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #2c2c2c;
    text-align: center;
    padding: 10px 0 15px 0;
}

h2 {
    font-family: "Squares Bold", Verdana, Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #2c2c2c;
    text-align: center;
    padding: 10px 0 15px 0;
}

h3 {
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #2c2c2c;
    padding: 10px 0;
}

p {
    font-family: "Helvetica_Neue_Cyr Light", Verdana, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #2c2c2c;
    padding: 10px 0;
}


button {
    display: inline-block;
    vertical-align: top;
    width: auto;
    cursor: pointer;
    background: rgba(27, 134, 180, 1);
    border: 1px solid transparent;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    padding: 7px 2px;
}


li {
    list-style: none;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #2c2c2c;
}

a {
    text-decoration: none;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #2c2c2c;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.blue-inline {
    color: #0c36d4;
    text-decoration: underline;
}

.p-line {
    text-decoration: underline;
}

/*-------------------------------------------*/
/* ----- PRELOAD ------ */
/*-------------------------------------------*/


.preload-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    text-align: center;
    z-index: 15;
}

.preload-bg p {
    position: relative;
    top: 50%;
    width: 230px;
    height: 230px;
    margin: -115px auto 0 auto;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #3d3d3d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.preload-bg p img {
    display: block;
    width: 130px;
    height: auto;
    /*margin: -100px auto 0 auto;*/
    margin: 37px auto 0 auto
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header {
    padding: 15px 0 0 0;
}

.header-row.header-row-top {
    display: block;
    font-size: 0;
    line-height: 0;
    padding: 0 0 35px 0;
    background: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 10;
}

.top-header-col {
    display: inline-block;
    vertical-align: top;
    width: 44%;
}

.top-header-col.left .info-box {
    float: left;
}

.top-header-col.right .info-box {
    float: right;
}


.top-header-col .info-box .right {
    padding: 0 0 0 10px;
    text-align: right;
}

.top-header-col .inner-col {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    min-width: 252px;
}

.top-header-col .inner-col .left {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    overflow: hidden;
}

.top-header-col .inner-col .left img {
    display: block;
    width: auto;
    max-width: 60px;
    height: auto;
}

.top-header-col .inner-col .right {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    text-align: right;
}

.top-header-col h2 {
    font-family: "Squares Bold", Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #2c2c2c;
    margin: 0 0 8px 0;
    padding: 0;
}

.top-header-col a {
    font-family: "Squares Bold", Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #2c2c2c;
    margin: 0 0 8px 0;
    padding: 0;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.top-header-col a:link,
.top-header-col a:visited {
    color: #2c2c2c;
}

.top-header-col a.active
.top-header-col a:active {
    color: #ea1b1b;
}

.top-header-col a:hover,
.top-header-col a:hover {
    color: #ea1b1b;
}

.top-header-col.logo-col {
    display: inline-block;
    vertical-align: top;
    width: 12%;
    position: relative;
    text-align: center;
}

.logo-box {
    display: block;
    width: 100%;
    position: absolute;
}

.logo-box a {
    display: block;
    width: 120px;
    margin: 0 auto;
    position: relative;
}

.logo-box a:after {
    display: block;
    content: "";
    width: 100%;
    height: 51px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background-image: url(img/logo_pseudo.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 2;
}

.logo-box a img {
    display: block;
    width: 100px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

section.header-menu-section {
    padding: 0;
}


.main-page .menu-header-box {
    position: relative;
    z-index: 3;
    width: 100%;
}


.menu {
    width: 100%;
    background: rgba(0, 0, 0, 1);
    padding: 15px 0 12px 0
}

.menu .left {
    float: left;
}

.menu .right {
    float: right;
}

.main-page .menu {
    width: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 15px 0 12px 0
}

.main-page .menu .left {
    float: left;
}

.main-page .menu .right {
    float: right;
}

.menu li a {
    display: inline-block;
    vertical-align: top;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.menu li a:link,
.menu li a:visited {
    color: #ffffff;
}

.menu li a.active
.tel-box a:active {
    color: #ea1b1b;
}

.menu li a:hover,
.tel-box a:hover {
    color: #ea1b1b;
}

.header-menu-section {
    position: relative;
}

.main-page .menu-header-box {
    position: absolute;
    top: 0;
    left: 0;
}

.tel-box {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px 0 0;
    margin: -2px 0 0 0;
}

.phone {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 27px;
    background-image: url(img/tel_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: -2px 0 0 0;
}

.tel-box a {
    display: inline-block;
    vertical-align: middle;
    font-family: "Squares Bold", Verdana, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.left-nav {
    display: inline-block;
    vertical-align: top;
}

.left-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
}

.left-nav li a {
    display: inline-block;
    vertical-align: top;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.right-nav {
    display: inline-block;
    vertical-align: top;
}

.right-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
}

.right-nav li a {
    display: inline-block;
    vertical-align: top;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.search-btn-box {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 0 0 0;
}

.search-btn {
    display: block;
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.search-btn img {
    display: block;
    width: 100%;
    height: auto;
}

.search-header {
    display: block;
    width: 100%;    
    text-align: center;
    overflow: hidden;
}

.main-page .search-box {
    background: rgba(0, 0, 0, .4);
}

.search-box {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    margin: -100% 0 0 0;

    -webkit-transition-property: margin-top;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: margin-top;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: margin-top;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: margin-top;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: margin-top;
    transition-duration: .7s;
    transition-timing-function: ease;
}


.search-header.active .search-box {
    margin: 0;
}

.form-box {
    display: block;
    width: 59%;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
}

.form-box input {
    display: inline-block;
    vertical-align: top;
    width: 74%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    outline: none;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #535557;
    min-height: 37px;
    padding: 0 0 0 2%;
}

.form-box input:focus {
    border: 1px solid transparent;
}

.form-box button {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 0 0 0 1%;
    cursor: pointer;
    background: rgba(27, 134, 180, 1);
    border: 1px solid transparent;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    padding: 9px 2px 6px 2px;
    text-transform: uppercase;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.form-box button:hover {
    background: rgba(174, 22, 23, 1);
}


/*--  Slider  --*/

.slider-box {
    display: block;
    width: 100%;
    height: 460px;
    position: relative;
    overflow-y: hidden;
}

.slider-box .slide-item {
    width: 100%;
    position: relative;
}

.slider-box .slide-item img {
    display: block;
    width: 100%;
    z-index: 1;
    height: auto;
}

.slider-box .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
}

.slider-box .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.slider-box .slick-dots li button {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    outline: none;
}

.slider-box .slick-dots li.slick-active button:after {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: rgba(234, 27, 27, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.slider-box .slide-item .slide-item-content {
    position: absolute;
    width: 100%;
}

.slide-info {
    display: block;
    width: 45%;
    z-index: 10;
    margin: 100px 0 0 0;
    padding: 10px 20px 15px 20px;
    background: rgba(255, 255, 255, .8);
}

.slide-info h2,
.slide-info p {
    text-align: left;
}

.slide-info h2 {
    padding: 10px 0 0 0;
    line-height: 33px;
    color: #000000;
}

.slide-info button {
    float: right;
    cursor: pointer;
    background: rgba(234, 27, 27, 1);
    border: 1px solid transparent;
    font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    padding: 7px 3%;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}


.slide-info button:hover {
    background: rgba(255, 7, 7, 1);
}


/*--  /Slider  --*/

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.main-page .main-content {
    width: 100%;
    float: none;
    padding: 0;
}

.main-content {
    padding: 0 2%;
}

.thumbnails-box {
    font-size: 0;
    line-height: 0;
    padding: 0 0 5px 0;
}

.thubnail-box {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 10px .1%;
    
}

.thumbnail {
    display: block;
    width: 100%;
    padding: 30px 0 0 0;
    background: rgba(125, 177, 111, 1);

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.icon-box {
    display: block;
    width: 230px;
    height: 230px;
    margin: 0 auto 30px auto;
    background: rgba(95, 169, 76, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.icon {
    display: block;
    width: 230px;
    height: 230px;
    margin: 0 auto;
}

.icon img {
    display: block;
    max-width: 160px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
}

.thumnail-name {
    background: rgba(95, 169, 76, 1);
    padding: 15px 0;
    text-align: center;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumnail-name h3 {
    font-family: "Helvetica_Neue_Cyr Bold", Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 0 0 0;
}

.thumbnail:link,
.thumbnail:visited {
    background: rgba(125, 177, 111, 1);
}

.thumbnail:active
.thumbnail.active {
    background: rgba(44, 151, 198, 1);
}

.thumbnail:hover {
    background: rgba(44, 151, 198, 1);
}

.thumbnail:link .icon-box,
.thumbnail:visited .icon-box {
    background: rgba(95, 169, 76, 1);
}

.thumbnail:active .icon-box,
.thumbnail.active .icon-box {
    background: rgba(28, 134, 180, 1);
}

.thumbnail:hover .icon-box {
    background: rgba(28, 134, 180, 1);
}

.thumbnail:link .thumnail-name,
.thumbnail:visited .thumnail-name {
    background: rgba(95, 169, 76, 1);
}

.thumbnail:active .thumnail-name,
.thumbnail.active .thumnail-name {
    background: rgba(28, 134, 180, 1);
}

.thumbnail:hover .thumnail-name {
    background: rgba(28, 134, 180, 1);
}

.article {
    background: rgba(243, 243, 243, 1);
}

.promo-img-box {
    display: block;
    width: 100%;
    overflow: hidden;
}

.promo-img-box img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;

    -webkit-transition-property: transform;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 5s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease;
}

.promo-img-box img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.slider-partners.slick-initialized.slick-slider {
    font-size: 0;
    line-height: 0;
    padding: 30px 0;
}

.slider-partners .slick-list {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
}

.slider-partners .slick-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
    height: 32px;
    border: 1px solid transparent;
    background: none;
    outline: none;
    cursor: pointer;
}

.slider-partners .slick-prev.slick-arrow {
    text-align: left;
}

.slider-partners .slick-next.slick-arrow {
    text-align: right;
}

    /* ----- INNER PAGE ------ */

        /* -- Sidebar -- */

        .sidebar {
            display: block;
            min-width: 230px;
            width: 20%;
            height: 100%;
            float: left;
            background: rgba(243, 243, 243, 1);
            padding: 13px 1% 0 1%;
            position: relative;
            z-index: 2;
        }

        .sidebar .left-background {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            right: 100%;
            top: 0;
            background: rgba(243, 243, 243, 1);
        }

        .sidebar h2 {
            text-align: left;
            font-size: 18px;
            line-height: 24px;
            padding: 20px 0 10px 25px;
        }

        h2.katakog-h {
            padding: 20px 0 10px 0;
        }

        .sidebar-list {
            display: block;
            width: 100%;
        }

        .sidebar-list li {
            display: block;
            width: 100%;
        }

        .sidebar-list li a {
            display: block;
            width: 100%;
            margin: 8px 0;
            padding: 3px 5%;
            font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
            font-size: 13px;
            line-height: 18px;
            color: #2c2c2c;
            border: 1px solid #2c2c2c;
        
            -webkit-transition-property: color border;
            -webkit-transition-duration: .3s;
            -webkit-transition-timing-function: ease;

            -moz-transition-property: color border;
            -moz-transition-duration: .3s;
            -moz-transition-timing-function: ease;

            -ms-transition-property: color border;
            -ms-transition-duration: .3s;
            -ms-transition-timing-function: ease;

            -o-transition-property: color border;
            -o-transition-duration: .3s;
            -o-transition-timing-function: ease;

            transition-property: color border;
            transition-duration: .3s;
            transition-timing-function: ease;
        }

        .sidebar-list li a:link
        .sidebar-list li a:visited {
            color: #2c2c2c;
            border: 1px solid #2c2c2c;
        }

        .sidebar-list li a.active
        .sidebar-list li a:active {
            color: #1c87b5;
            border: 1px solid #1c87b5;
        }

        .sidebar-list li a:hover {
            color: #1c87b5;
            border: 1px solid #1c87b5;
        }


        .chekbox-block {
            display: inline-block;
            vertical-align: top;
            position: relative;
            font-size: 0;
            line-height: 0;
            margin: 12px 0 8px 0;
        }

        .chekbox-block input {
            display: inline-block;
            vertical-align: top;
            width: 14px;
            height: 14px;
            max-width: 15%;
            position: relative;
            z-index: 1;
            opacity: .01;
        }
        
        .chekbox-block input[type=checkbox] + label {
            display: inline-block;
            vertical-align: top;
            width: 85%;
             position: relative;
            z-index: 2;
            padding: 0 0 0 11px;
               font-size: 0;
            line-height: 0;
        }

        .chekbox-block input[type=checkbox] + label:before {
            display: inline-block;
            vertical-align: top;
            content: "";
            min-width: 14px;
            height: 14px;
            background-image: url(img/checkbox_sprite.png);
            background-position: 0 -14px;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: -14px;
            z-index: 2;
            margin: 0 10px 0 0;
        }

        .chekbox-block input[type=checkbox]:checked  + label:before {
            background-position: 0 0px;
        }

        .chekbox-block input[type=checkbox] + label span {
            display: table-cell;
            vertical-align: top;
            width: 90%;
            font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
            font-size: 15px;
            line-height: 15px;
            color: #2c2c2c;
        }

        .show-more {
            display: none;
            max-width: 140px;
            position: absolute;
            top: -15px;
            left: 130%;
            background: rgba(255, 255, 255, 1);
            border-top: 1px solid #1c87b5;
            border-right: 1px solid #1c87b5;
            border-bottom: 1px solid #1c87b5;
            padding: 1px 1px 1px 40px;
            z-index: 2;
        }

        .chekbox-block:hover .show-more {
            display: inline-block;
            vertical-align: top;
        }

        .show-more-link {
            background: rgba(28, 135, 181, 1);
            font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
            font-size: 14px;
            line-height: 36px;
            color: #ffffff;
            padding: 10px 17px;
            text-align: center;
        }

        .show-more:before {
            display: block;
            content: "";
            position: absolute;
            top: -1px;
            left: -44px;
            border: 20px solid transparent;
            border-right: 25px solid rgba(28, 135, 181, 1);
        }

        .show-more:after {
            display: block;
            content: "";
            position: absolute;
            top: -2px;
            left: -43px;
            border: 21px solid transparent;
            border-right: 26px solid rgba(255, 255, 255, 1);
        }

        .show-more-btn {
            display: block;
            width: 100%;
            text-align: center;
            margin: 10px 0 15px 0;
        }

        .show-more-btn button {
            display: inline-block;
            vertical-align: top;
            min-width: 104px;
            cursor: pointer;
            margin: 0 auto;
            background: none;
            font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
            font-size: 12px;
            line-height: 16px;
            color: #787878;
            border: 1px solid #787878;
            padding: 4px 3px;
        
            -webkit-transition-property: background color border;
            -webkit-transition-duration: .3s;
            -webkit-transition-timing-function: ease;

            -moz-transition-property: background color border;
            -moz-transition-duration: .3s;
            -moz-transition-timing-function: ease;

            -ms-transition-property: background color border;
            -ms-transition-duration: .3s;
            -ms-transition-timing-function: ease;

            -o-transition-property: background color border;
            -o-transition-duration: .3s;
            -o-transition-timing-function: ease;

            transition-property: background color border;
            transition-duration: .3s;
            transition-timing-function: ease;
        }

        .show-more-btn button:hover {
            border: 1px solid transparent;
            color: #ffffff;
            background: rgba(255, 0, 0, 1);
        }


        .volume {
            font-size: 0;
            line-height: 0;
        }

        .volume .chekbox-block {
            display: inline-block;
            vertical-align: top;
            width: 25%;
        }

        .volume .chekbox-block input[type=checkbox] + label {
            padding: 0 0 0 6px;
        }

        /* -- /Sidebar -- */


        /* -- Main Content -- */

            /*   Catalog page   */

            .main-content {
                display: block;
                width: 80%;
                float: right;
            }

            .products-cards.catalog-page {
                display: block;
                width: 100%;
            }

            .good-card {
                display: table;
                width: 100%;
                margin: 7px auto;
                border: 1px solid #dadada;
                padding: 15px 0;
            }

            .cell-1 {
                display: table-cell;
                vertical-align: middle;
                width: 22%;
                overflow: hidden;
            }

            .cell-1 img {
                display: block;
                width: auto;
                height: auto;
                max-width: 90%;
                margin: 0 auto;
            }

            .cell-2 {
                display: table-cell;
                vertical-align: middle;
                width: 46%;
                padding: 0 1%;
            }

            .cell-2 h3 {
                padding: 5px 0;
            }

            .cell-2 p {
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 12px;
                line-height: 16px;
                color: #2c2c2c;
                padding: 5px 0;
            }

            .cell-3 {
                display: table-cell;
                vertical-align: middle;
                width: 15%;
            }

            .cell-4 {
                display: table-cell;
                vertical-align: middle;
                width: 17%;
            }

            .cell-4 button {
                display: block;
                width: 84%;
                cursor: pointer;
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 16px;
                line-height: 18px;
                color: #ffffff;
                border: 1px solid transparent;
                background: rgba(94, 169, 76, 1);
                padding: 7px 2px;

                -webkit-transition-property: background;
                -webkit-transition-duration: .3s;
                -webkit-transition-timing-function: ease;

                -moz-transition-property: background;
                -moz-transition-duration: .3s;
                -moz-transition-timing-function: ease;

                -ms-transition-property: background;
                -ms-transition-duration: .3s;
                -ms-transition-timing-function: ease;

                -o-transition-property: background;
                -o-transition-duration: .3s;
                -o-transition-timing-function: ease;

                transition-property: background;
                transition-duration: .3s;
                transition-timing-function: ease;
            }

            .cell-4 button:hover {
                background: rgba(28, 135, 181, 1);
            }

            .pagination {
                text-align: center;
                padding: 10px 0 15px 0;
            }

            .pagination ul {
                padding: 20px 0;
            }

            .pagination ul li {
                display: inline-block;
                vertical-align: middle;    
            }

            .pagination ul li a {
                font-family: "Squares Bold", Verdana, Arial, sans-serif;
                font-size: 18px;
                line-height: 40px;
                color: #585858;
                padding: 5px 7px;
            }

            .pagination ul li a span {
                color: #afafaf;
                margin: 5px 7px;
            }

            .pagination ul li a.arrow {
                padding: 0;
            }

            .pagination ul li a.active {
                background: rgba(234, 27, 27, 1);
                color: #ffffff;
            }

            .space {
                font-family: "Squares Bold", Verdana, Arial, sans-serif;
                font-size: 18px;
                line-height: 40px;
                color: #585858;
                padding: 5px 7px;
            }


            /*   /Catalog page   */


            /*   Card Product page   */

            .catalog-list {
                display: block;
                width: 100%;
            }

            .catalog-list li a {
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 18px;
                line-height: 36px;
                color: #2c2c2c;
                    
                -webkit-transition-property: color border;
                -webkit-transition-duration: .3s;
                -webkit-transition-timing-function: ease;

                -moz-transition-property: color border;
                -moz-transition-duration: .3s;
                -moz-transition-timing-function: ease;

                -ms-transition-property: color border;
                -ms-transition-duration: .3s;
                -ms-transition-timing-function: ease;

                -o-transition-property: color border;
                -o-transition-duration: .3s;
                -o-transition-timing-function: ease;

                transition-property: color border;
                transition-duration: .3s;
                transition-timing-function: ease;
            }

            .catalog-list li a:link
            .catalog-list li a:visited {
                color: #2c2c2c;
            }

            .catalog-list li a.active
            .catalog-list li a:active {
                color: #ea1b1b;
            }

            .catalog-list li a:hover {
                color: #ea1b1b;
            }

            .product-card {
                display: block;
                width: 100%;
                font-size: 0;
                line-height: 0;
            }

            .good-image-box  {
                display: inline-block;
                vertical-align: middle;
                overflow: hidden;
                width: 35%;
            }

            .good-image-box img {
                display: block;
                width: auto;
                height: auto;
                max-width: 280px;
                margin: 0 auto;
            }

            .card-col {
                display: inline-block;
                vertical-align: middle;
                width: 65%;
            }

            .card-col h2 {
                text-align: left;
            }

            .card-table {
                width: 100%;
                padding: 10px 0 5px 0;
            }

            .card-table-row {
                font-size: 0;
                line-height: 0;
            }

            .card-table-cell-1 {
                display: inline-block;
                vertical-align: middle;
                width: 43%;
                position: relative;
            }

            .card-table-cell-1:before {
                display: block;
                width: 100%;
                content: "";
                border: 1px dotted #3c3c3c;
                position: absolute;
                top: 50%;
                left: 0;
                margin: -1px 0 0 0;
                z-index: 1;
            }

            .card-table-cell-1 h3 {
                display: inline-block;
                vertical-align: middle;
                padding: 0 5px 0 0;
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 15px;
                line-height: 25px;
                font-weight: normal;
                color: #3c3c3c;
                background: rgba(255, 255, 255, 1);
                position: relative;
                z-index: 2;
            }

            .card-table-cell-2 {
                display: inline-block;
                vertical-align: middle;
                width: 57%;
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 15px;
                line-height: 25px;
                color: #3c3c3c;
                padding: 0 0 0 5px;
            }

            h2.productcard-price {
                display: block;
                width: 100%;
                text-align: center;
            }

            .product-card button {
                display: block;
                width: 50%;
                max-width: 180px;
                margin: 5px auto;
                padding: 5px;
                cursor: pointer;
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 19px;
                line-height: 25px;
                color: #ffffff;
                text-align: center;
                background: rgba(250, 79, 71, 1);
                border: 1px solid transparent;

                -webkit-transition-property: background;
                -webkit-transition-duration: .3s;
                -webkit-transition-timing-function: ease;

                -moz-transition-property: background;
                -moz-transition-duration: .3s;
                -moz-transition-timing-function: ease;

                -ms-transition-property: background;
                -ms-transition-duration: .3s;
                -ms-transition-timing-function: ease;

                -o-transition-property: background;
                -o-transition-duration: .3s;
                -o-transition-timing-function: ease;

                transition-property: background;
                transition-duration: .3s;
                transition-timing-function: ease;
            }

            .product-card button:link,
            .product-card button:visited {
                background: rgba(255, 0, 0, 1);
            }

            .product-card button.active,
            .product-card button:active {
                background: rgba(255, 0, 0, 1);
            }

            .product-card button:hover {
                background: rgba(255, 0, 0, 1);
            }

            .product-card .icon.cash {
                display: inline-block;
                vertical-align: middle;
                width: 26px;
                height: 24px;
                background-image: url(img/basket.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                margin: -5px 0 0 0;
            }

            .product-card span {
                display: inline-block;
                vertical-align: middle;
                padding: 0 0 0 20px;
            }


            .last-show-products {               
                font-size: 0;
                line-height: 0;
                border-top: 1px solid #dadada;
                padding: 10px 0;
            }

            .last-show-products h2 {
                padding: 15px 0;
            }

            .last-product-card {
                display: inline-block;
                vertical-align: top;
                width: 25%;
                text-align: center;
                padding: 10px 2%;
            }

            .last-product-card .cell-1 {
                display: block;
                width: 100%;
                overflow: hidden;
            }

            .last-product-card .cell-1 img {
                display: block;
                width: auto;
                height: auto;
                max-width: 150px;
                margin: 0 auto;
            }

            .last-product-card .cell-2 {
                display: block;
                width: 100%;
            }

            .last-product-card .cell-2 h3 {
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 18px;
                line-height: 25px;
                font-weight: normal;
                color: #2c2c2c;
                padding: 10px 0 0 0;
            }

            .last-product-card .cell-2 p {
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 12px;
                line-height: 15px;
                font-weight: normal;
                color: #2c2c2c;
                padding: 3px 0;
            }

            .last-product-card .cell-3 {
                display: block;
                width: 100%;
            }

            .last-product-card .cell-3 h2 {
                font-size: 18px;
                line-height: 20px;
                padding: 5px 0;
            }

            .last-product-card .cell-4 {
                display: block;
                width: 100%;
            }

           .last-product-card .cell-4 button {
                display: block;
                width: 75%;
                max-width: 135px;
                cursor: pointer;
                font-family: "Helvetica_Neue_Cyr Roman", Verdana, Arial, sans-serif;
                font-size: 16px;
                line-height: 18px;
                font-weight: normal;
                color: #ffffff;
                border: 1px solid transparent;
                background: rgba(94, 169, 76, 1);
                margin: 5px auto;
                padding: 7px 2px;

                -webkit-transition-property: background;
                -webkit-transition-duration: .3s;
                -webkit-transition-timing-function: ease;

                -moz-transition-property: background;
                -moz-transition-duration: .3s;
                -moz-transition-timing-function: ease;

                -ms-transition-property: background;
                -ms-transition-duration: .3s;
                -ms-transition-timing-function: ease;

                -o-transition-property: background;
                -o-transition-duration: .3s;
                -o-transition-timing-function: ease;

                transition-property: background;
                transition-duration: .3s;
                transition-timing-function: ease;
            }

           .last-product-card .cell-4 button:hover {
                background: rgba(28, 135, 181, 1);
            }



            /*   /Card Product page   */


        /* -- /Main Content -- */


    /* ----- /INNER PAGE ------ */


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    display: block;
    width: 100%;
}

.footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    font-size: 0;
    line-height: 0;
    padding: 20px 0;
}

.copy-txt {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    font-family: "Squares Bold", Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.copy-txt span {
    font-family: "Helvetica_ Neue_Cyr Roman", Verdana, Arial, sans-serif;
}

.studio {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: right;
}

.studio a {
    display: inline-block;
    vertical-align: middle;
}

.studio h2 {
    display: inline-block;
    vertical-align: middle;
    font-family: "Helvetica_Neue_Cyr Light", Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 0 3%;
}

.logo-webstudio {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.logo-webstudio img {
    display: block;
    width: 40px;
    height: 40px;
}
